<section class="movie_favoris">
    <div class="movie" onclick="{{onclick}}">
        <div class="movie__container">
            <p class="movie__text">{{nom}}</p>
            <img class="movie__affiche" src="https://mmi.unilim.fr/~berkersuzan1/SAE2.03-Berkersuzan/SAE2.03-Berkersuzan1/server/images/{{affiche}}" alt=" affiche" />
        </div>
    </div>
    <div class="movie__favorite__container">
        <bouton class="movie__favorite" onclick="event.stopPropagation();{{handlerButton}}">{{click}}</bouton>
    </div>
</section>