
.movie-categories {
    margin-bottom: 60px;
    padding: 80px 20px;
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(145deg, #2c2c2c, #1e1e1e);
    box-shadow: 0 8px 20px rgba(123, 146, 142, 0.4);
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.movie-categories:hover {
    transform: scale(1.01);
}


.movie-categories h2 {
    padding-left: 10px;
    margin-bottom: 25px;
    text-align: left;
    font-size: 2.2rem;
    font-weight: 700;
    color: #ffffff;
    border-left: 4px solid #20a788; 
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }



