<section class="detail">
    <img src="https://mmi.unilim.fr/~berkersuzan1/SAE2.03-Berkersuzan/SAE2.03-Berkersuzan1/server/images/{{affiche}}" alt="Affiche" class="detail__image"/>
    <h2 class="detail__name">{{name}}</h2>
    <p class="detail__description">{{description}}</p>
    <p class="detail__director">Réalisateur : {{director}}</p>
    <p class="detail__year">Année : {{year}}</p>
    <p class="detail__duree">Durée : {{duree}} minutes</p>
    <p class="detail__category">Catégorie : {{category}}</p>
    <p class="detail__age">Restriction d'age : {{age}} ans</p>
    <iframe
      class="detail__trailer"
      src="{{trailer}}"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
</section>
