<section class="detail__container">
<section class="detail">
  <div class="detail__left">
    <img src="https://mmi.unilim.fr/~berkersuzan1/SAE2.03-Berkersuzan/SAE2.03-Berkersuzan-surprise/server/images/{{affiche}}" alt="Affiche" class="detail__image" />
  </div>

  <div class="detail__right">
    <h2 class="detail__name">{{name}}</h2>
    <p class="detail__description">{{description}}</p>
    <p class="detail__info"><strong>Réalisateur :</strong> {{director}}</p>
    <p class="detail__info"><strong>Année :</strong> {{year}}</p>
    <p class="detail__info"><strong>Durée :</strong> {{duree}} minutes</p>
    <p class="detail__info"><strong>Catégorie :</strong> {{category}}</p>
    <p class="detail__info"><strong>Âge :</strong> {{age}} ans</p>
  </div>
</section>
<div class="trailer__container">
  <iframe
    class="detail__trailer"
    src="{{trailer}}"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>
</section>

